:root {
  --main-color: #784ed1;
  --second-color: #00aea4;
  --black-color: #14151a;
  --black-color-100: #85888f;
  --background-light:#f2f3f5;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "vazir";
}
a {
  text-decoration: none;
  color: #e3e4e5;
}
ul,
ol {
  list-style-type: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
}
/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  padding: 15px;
}
.navbar__logo-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navbar__logo-link img {
  width: 4.5rem;
}
.navbar__logo-link span {
  font-size: 1.9rem;
  color: #fff;
  margin-right: 0.9rem;
}

/* NAVBAR MENU */
.navbar__menu {
  width: 75rem;
  margin-left: auto;
  margin-right: 4.5rem;
}
.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__item {
}

.navbar__link {
  position: relative;
  transition: color 0.3s ease;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  /* background-color: #e3e4e5; */
  border-radius: 0.1rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-top: 0.5rem solid #e3e4e5;
  left: -2rem;
  top: 1rem;
  transition: all 0.5s ease;
}
.arrow:hover::after {
  border-top-color: var(--second-color);
  transform: rotate(180deg);
  transform-origin: center;
  top: 0.5rem;
}
.navbar__link:hover {
  color: var(--second-color);
}

.navbar__login {
  width: 19rem;
  display: flex;
  justify-content: center;
}
.navbar__login a {
  padding: 0.5rem;
  width: 9rem;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.navbar__login :nth-child(1):hover {
  color: #e3e4e5;
}
.navbar__login :nth-child(2) {
  background-color: #784ed1;
}
.navbar__login :nth-child(2):hover {
  background-color: #5e35b1;
}
/*  Services */
.services {
  width: 100%;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 1.5rem 2rem 1.5rem;
}
.services__wrapper {
  width: 100%;
  flex: 1;
  max-width: 132.4rem;
}
.services__title{
  padding: 1.6rem 0;
  color: var(--black-color);
  font-size: 2.9rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}
.content-services {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-services__contents {
  padding: 0 1rem;
}
.cart-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}
.cart-service__image {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-service__content {
  max-width: 42.6rem;
  margin-right: 1.6rem;
}
.cart-service__content h3 {
  font-size: 1.9rem;
  padding-bottom: 0.8rem;
  line-height: 3.6rem;
  font-weight: 500;
}
.content-services__box-image {
  max-width: 66rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-services__box-image img {
  width: 100%;
  height: auto;
}
/*  Counter */
.counter {
  width: 100%;
  background-color: #4c505b;
  background-image: url("../image/by-numbers-bg.webp");
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 1.5rem;
}
.cuonter__services{
  width: 100%;
  flex: 1;
  max-width: 132.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.count {
  padding: 1.6rem 0;
  text-align: center;
  color: #fff;
}
.count__number {
  font-size: 4.2rem;
  font-weight: 500;
  direction: ltr;
}
.count__number span {
  color: #d3bdff;
}
.count__text{
  font-size: 1.5rem;
  font-weight: 400;
}
/* LERNING */
.lerning {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lerning__wrapper{
  width: 100%;
  flex: 1;
  max-width: 132.4rem;
  padding: 4.8rem 1.5rem 13rem 1.5rem;
}
.lerning__title{
  padding: 1.6rem 0;
  color: var(--black-color);
  font-size: 2.9rem;
  font-weight: 500;
  text-align: center;
  line-height: 5rem;
}
.lerning-box{
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lerning-item{
  max-width: 25%;
}
.lerning-item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.learnin-item__box-image {
  width: 11rem;
  height: 11rem;
  border: 1.2rem solid var(--background-light);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0;
  transition: all 0.3s ease;
}
.learnin-item__box-image:hover {
  border: 0.7rem solid var(--main-color);
}
.lerning-item__link p {
  padding-bottom: 0.8rem;
  color: var(--black-color);
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 3.6rem;
}
.lerning-item__link p:hover, .lerning-item__link:hover p {
  color: #784ed1;
}
/* BANNER */
.banner {
  width: 100%;
  background-color: #EFE7FFB2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__wrapper{
  width: 100%;
  flex: 1;
  max-width: 132.4rem;
  padding: 4rem 1.5rem 0;
  display: flex;
  align-items: center;
  position: relative;
}
.banner__content{
  padding: 0 1.5rem;
  margin-bottom: 7.6rem;
  font-weight: 500;
  max-width: 66rem;
  display: flex;
  flex-direction: column;

}
.banner__content h2{
  font-size: 2.9rem;
  padding: 1.6rem 0;
  line-height: 5rem;
}
.banner__content p{
  font-size: 1.9rem;
  margin-bottom: 3.2rem;
  line-height: 3rem;
  font-weight: 400;
}
.banner__content-purplr-btn{
  width: 12rem;
  font-size: 1.5rem;
  border-radius:2.4rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
  padding: 0.6rem 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.banner__content-purplr-btn:hover{
  background-color: #5e35b1;
}
.banner__image {
  position: absolute;
  left: 6rem;
  top: -6rem;
}

@media screen and (max-width: 1199px) {
  .content-services{
    padding: 2.5rem;
  }
  .services__title,.lerning__title,.banner__content h2{
    font-size: 1.9rem;
    line-height: 3rem;
  }
  .cart-service__content h3 {
    font-size: 1.6rem;
  }
  .cart-service__content p,.banner__content p {
    font-size: 1.2rem;
  }
  .counter {
    padding: 0.8rem 1.5rem;
  }
  .count__number {
    font-size: 3.6rem;
  }
  .count__text{
    font-size: 1.2rem;
  }
  .lerning__wrapper{
    padding: 1.6rem 1.5rem 7.2rem 1.5rem;
  }
  .lerning-item__link p {
    font-size: 1.5rem;
  }
  .banner__wrapper{
    padding:0 1.5rem;
  }
  .banner__content{
    max-width: 53.5rem;
    margin-bottom: 4rem;
  }
  .banner__image {
    left: 8rem;
    top: -6.5rem;
  }
}

@media screen and (max-width: 992px) {
  .banner__content{
    max-width: 38rem;
  }
  .banner__image {
    left: 0;
    top: -6.5rem;
  }
}

@media screen and (max-width: 767px) {
  .content-services {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .content-services__box-image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2.4rem;
  }
  .content-services{
    padding: 0;
  }
  .services__title{
    margin-bottom: 0.8rem;
  }
  .cart-service__content{
    max-width: 100%;
  }
  .counter {
    padding: 2.4rem 1.5rem;
  }
  .learnin-item__box-image {
    width: 8rem;
    height: 8rem;
    margin: 2.4rem 0.8rem 0.8rem;
  }
  .lerning-item__link p {
    color: #784ed1;
    font-size: 1.2rem;

  }
  .banner__wrapper{
    flex-direction: column-reverse;
  }
  .banner__image {
    position: relative;
  }
  .banner__image {
    left: 0;
    top: -4.5rem;
  }
  .banner__content{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .banner__content p{
    font-size: 1.5rem;
  }
  .banner__content-purplr-btn {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .counter {
    background-size: 300%;
  }
  .cuonter__services{
    flex-direction: column;
  }
  .lerning-box {
    flex-flow: row wrap;
  }
  .lerning-item{
    width: 50%;
    max-width: 50%;
  }
}